<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>WEB322 Assignment 2</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link rel="stylesheet" href="css/main.css" type="text/css">
    </head>

    <body>
        <header>
            <div id="mainLog">
                <!-- <a href="main.html"> -->
                <a href="/">
                    <img src="photos/logo.jpg" alt="LiveFit Logo" height="50px">
                </a>
            </div>
            <div id="navigationCategory">
                <!-- <div class = "heading"><a href="mealPackage.html">Your Journeys</a></div> -->
                <div class = "heading"><a href="/mealPackage">Your Journeys</a></div>
                <!-- <div class = "heading"><a href="mealPackage.html">Your Meals</a></div> -->
                <div class = "heading"><a href="/mealPackage">Your Meals</a></div>
                <!-- <div class = "heading"><a href="mealPackage.html">Grocery</a></div> -->
                <div class = "heading"><a href="/mealPackage">Your Meals</a></div>
                <!-- <div class = "heading"><a href="mealPackage.html">About Us</a></div> -->
                <div class = "heading"><a href="/mealPackage">Your Meals</a></div>
            </div>
            <div id="userOption">
                <i class="material-icons">
                    <!-- <a href="login.html">person</a> -->
                    <a href="/login">person</a>
                </i>
                <i class="material-icons">
                    search
                </i>
                <i class="material-icons">
                    shopping_bag
                </i>
            </div>
        </header>

        <main>
            <img src="photos/health_food.jpg" alt="health_food_image" id="health_image" height="700px" width="100%">
            <div id = "content">
                <div class="column">
                    <img src="photos/online_shopping.png" alt="online shopping" height="100px" width="100px">
                    <h3 style="font-weight: bold;">Shop Your Journeys</h3>
                    <h5>100+ Menu of All-Natural Dishes</h5>
                </div>
                <div class="column">
                    <img src="photos/microwave.png" alt="microwave image" height="100px" width="100px">
                    <h3 style="font-weight: bold;">Heat</h3>
                    <h5>Cooked & Delivered</h5>
                </div>
                <div class="column">
                    <img src="photos/meal.png" alt="meal image" height="100px" width="100px">
                    <h3 style="font-weight: bold;">Eat</h3>
                    <h5>Delicious & Nutritious</h5>
                </div>
                <div class="column">
                    <img src="photos/take_out.jpg" alt="take out meal" height="100px" width="100px">
                    <h3 style="font-weight: bold;">Repeat</h3>
                    <h5>Skip a Week or Cancel at any time</h5>
                </div>
            </div>

            <div id="topMealHeader">
                <hr>
                <div>
                    <h3 style="text-align: center;">Our Chefs are making these right now!</h3>
                    <h4 style="text-align: center;">You should be chowing down on any of these meals any time you choose-seriously! Order some (or all) of these meals and see why thousands of Canadians stock us in their fridge!</h4>
                </div>
                <div id="topMealContent">
                    <div class="column">
                        <img src="photos/Chicken-Teriyaki-2.jpg" alt="chicken teriyaki" height="100px" width="100px">
                        <h4 style="font-weight: bold;">Chicken Teriyaki</h4>
                        <h5>$11.95</h5>
                    </div>
                    <div class="column">
                        <img src="photos/chicken-and-spring-veg-1.jpg" alt="Butter Chicken with Mixed Vegetables" height="100px" width="100px">
                        <h4 style="font-weight: bold;">Butter Chicken with Mixed Vegetables</h4>
                        <h5>$11.95</h5>
                    </div>
                    <div class="column">
                        <img src="photos/SundriedTomatoandBasilPestoChickenLinguini.jpg" alt="Sundried Tomato and Basil Pesto Chicken Linguini" height="100px" width="100px">
                        <h4 style="font-weight: bold;">Sundried Tomato and Basil Pesto Chicken Linguini</h4>
                        <h5 style="color: red;">$11.95</h5>
                    </div>
                    <div class="column">
                        <img src="photos/RoastChickenandHomemadePanGravy.jpg" alt="Roast Chicken and Homemade Pan Gravy" height="100px" width="100px">
                        <h4 style="font-weight: bold;">Roast Chicken and Homemade Pan Gravy</h4>
                        <h5>$11.95</h5>
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <div id="container">
                <div class="footer">
                    <h4>About Livefit</h4>
                    <!-- <h6><a href="mealPackage.html">Your Journeys</a></h6> -->
                    <h6><a href="/mealPackage">Your Journeys</a></h6> 
                    <!-- <h6><a href="mealPackage.html">Your Meals</a></h6> -->
                    <h6><a href="/mealPackage">Your Meals</a></h6>
                    <!-- <h6><a href="mealPackage.html">Grocery</a></h6> -->
                    <h6><a href="/mealPackage">Grocery</a></h6>
                    <!-- <h6><a href="mealPackage.html">About Us</a></h6> -->
                    <h6><a href="/mealPackage">About Us</a></h6>
                </div>

                <div class="footer">
                    <h4>Social Media</h4>
                    <h6>Facebook <img src="photos/fb.png" alt="facebook icon" width="16px"></h6>
                    <h6>Instagram <img src="photos/ins.png" alt="instagram icon" width="16px"></h6>
                    <h6>Twitter <img src="photos/twitt.png" alt="twitter icon" width="16px"></h6>
                    <h6>Google <img src="photos/goo.png" alt="google icon" width="16px"></h6>
                </div>
            </div>

            <div>
                <h2>&#169;2021- Lihan HuangTang</h2>
            </div>
            
       </footer>
    </body>
</html>